body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  /* h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  } */
  h1 {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .task-list {
    display: flex;
    flex-direction: column;
  }
  
  /* .task-list-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
  } */
  .task-list-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .task-list-item-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .task-list-item-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .task-list-item-remove {
    align-self: flex-end;
    font-size: 18px;
    color: #4CAF50;
    cursor: pointer;
  }

  /* To make button red */
  .task-list-item form button {
    background-color: #dc3545;
    color: #fff;
  }
  
  .add-task-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .add-task-form-label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .add-task-form-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  
  .add-task-form-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-task-form-button:hover {
    background-color: #3e8e41;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .task-list-item {
      padding: 10px;
      font-size: 16px;
    }
  
    .task-list-item-title {
      font-size: 20px;
    }
  
    .task-list-item-description {
      font-size: 16px;
    }
  }


  /* For Add Item to look like button */
  .add-item-button {
    display: inline-block;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .add-item-button:hover {
    background-color: #aaa;
  }